@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  text-decoration: none;
}



/*NAVBAR Start*/


.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
  background-color: #83E85A;
}

.leftNavbar img{
  width: 100px;
}

.rightNavbar{
  display: flex;
  gap: 40px;
}

.rightNavbar a{
  background-color: black;
  color: white;
  padding: 5px 10px 7px 10px;
  border-radius: 5px;
  font-weight: 1000;
  position:relative ;
  z-index: 1;  
}

.rightNavbar a:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #83E85A;
  z-index: -1;
  transition: .3s;
}

.rightNavbar a:hover:before{
  width: 100%;
  border: black .5px solid;
  border-radius: 5px;
}

@media (max-width:600px) {
  .navbar{
    justify-content: space-around;
  }
  .leftNavbar img{
    width: 80px;
  }
  .rightNavbar{
    gap: 20px;
  }  
}

@media (max-width:440px) {
  .leftNavbar img{
    width: 50px;
  }
  .rightNavbar{
    gap: 10px;
    font-size: small;
  }  
}

/*NAVBAR Ending*/

/*Home Start*/

.homeContainer{
  width: 100%;
  height: 130vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.homeTextContainer{
  color: white;
  padding: 0 0 200px 50px;
}

.homeTextContainer h1{
  font-size: 100px;
  font-weight: 50;
}

.homeTextContainer p{
  font-size: 40px;
  padding-bottom: 20px;
}
.homeTextContainer button{
  height: 50px;
  width: 180px;
  font-size: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  position: relative;
  z-index: 1;
}

.homeTextContainer button:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;    
  width: 10%;
  height: 100%;
  background-color: #83E85A;
  transition: .3s;
  z-index: -1;
}

.homeTextContainer button:hover:before{
  width: 100%;
}

@media (max-width:500px){
  .homeTextContainer h1{
    font-size: 80px;
  }
  .homeTextContainer p{
    font-size: 32px;
  }
}

@media (max-width:400px){
  .homeTextContainer h1{
    font-size: 60px;
  }
  .homeTextContainer p{
    font-size: 24px;
  }
  .homeTextContainer button{
    height: 40px;
    width: 120px;
    font-size: 18px;
  }
}

/*Home Ending*/

/*Footer Start*/

.footerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #83E85A;
  font-weight: 800;
  font-size: 15px;
}

/*Footer Ending*/

/*Menu Start*/

.menuContainer{
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #2CB978;
}

.menuListContainer{
  display: flex;
  align-items: center;
  justify-content: center ;
  flex-wrap: wrap;
}

.menuList{
  background-color: #83E85A;
  width: 350px;
  height: 350px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.menuList:hover{
  transform: scale(1.02);
  opacity: .9;
}

.menuList h3{
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 1000;
}
.menuList p{
  font-size: 30px;
  letter-spacing: 1px;
}

.menuList img{
  width: 100%;
  height: 250px;  
}

/*Menu Ending*/




/*About Start*/

.aboutTop{
  width: 100%;
  height:60vh ;
  background-position: center;
  background-size: cover;
}

.aboutText{
  width: 100%;
  height: 200px;
  background-color: #2CB978;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  gap: 20px;
}
.aboutText p{
  max-width: 500px;
}

@media (max-width:420px){
  .aboutText {
    height: auto;
  }
}

/*About Ending*/

/*Contact Start*/

.contactContainer{
  display: flex;
}

.contactLeftSide{
  flex: 50%;
  height: 75vh;
  background-position:center;
  background-size: cover;
}

.contactRightSide{
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form label{
  color: gray;
}

form input{
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: solid 2px #121619;
  margin-bottom: 20px;  
}

form textarea{
  border: none;
  border-bottom: solid 2px #121619;
  width: 80%;
  height: 70px;
  margin-bottom: 15px;
}

form input::placeholder,
form textarea::placeholder{
  font-weight: bold;
  color: black;
}
form input:focus,
form textarea:focus{
  outline: none;
}

form button{
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width:450px){
  .contactLeftSide{
    display: none;
  }
}

/*Contact Ending*/